#version 410 core

layout(triangles, equal_spacing, ccw) in;


in vec3 tcPosition[];
in vec4 tcColor[];

out vec3 tePosition;
out vec4 teColor;


void main()
{
        tePosition       = gl_TessCoord.x * tcPosition[0] +
                           gl_TessCoord.y * tcPosition[1] +
                           gl_TessCoord.z * tcPosition[2];

        teColor          = gl_TessCoord.x * tcColor[0] +
                           gl_TessCoord.y * tcColor[1] +
                           gl_TessCoord.z * tcColor[2];

        gl_Position = vec4(tePosition, 1.0);
        //gl_Position.xyzw =  gl_in[0].gl_Position.xyzw * gl_TessCoord.x +
        //                    gl_in[1].gl_Position.xyzw * gl_TessCoord.y +
        //                    gl_in[2].gl_Position.xyzw * gl_TessCoord.z;
}
